<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="mongo_url" value="mongodb://sparcy:!Wh76--12Ar@arrow.mongohq.com:27031/gps_prod"/>
    <add key="aes_iv" value="tDcy6lx966dwLXB7FpISDQ=="/>
    <add key="aes_key" value="azEw+JnG8/55f5EzqjFVH8oa0EiAp8z4Pirxu9au5zk="/>
  </appSettings>
  <connectionStrings>
    <add name="test" connectionString="Server=localhost;Database=oa_dev;Uid=root;Pwd=root;"/>
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="protobuf-net" publicKeyToken="257b51d87d2e4d67" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.621" newVersion="2.0.0.621"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.7.4.0" newVersion="6.7.4.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.data>
    <DbProviderFactories>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.6.5.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
    </DbProviderFactories>
  </system.data>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
